.country-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: darken($primary-color, 15%);
  flex: 0 0 75px;
  width: 100%;
  font-size: 20px;
  border-radius: 0 0 $border-radius $border-radius;
  transition: border-radius 1s ease;

  select {
    font-size: inherit;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 0;
  }

  label {
    margin-right: 50px;
  }
}
body.country-active .country-bar {
  border-radius: 0;
}
