.income-list {
  padding: 30px 15px;

  .list-title {
    text-align: center;
    display: block;
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: bold;
  }

  table {
    width: 100%;
    border-collapse: collapse;

    th,
    td {
      text-align: center;
      padding: 4px 5px;
    }

    thead th {
      padding-bottom: 15px;
    }

    tbody {
      tr:last-child td {
        padding-bottom: 15px;
      }

      td:last-child,
      td:nth-last-child(2),
      td:nth-last-child(3) {
        text-align: right;
      }
    }

    tfoot th {
      padding-top: 10px;
      padding-bottom: 10px;

      &:last-child,
      &:nth-last-child(2),
      &:nth-last-child(3),
      &:nth-last-child(4) {
        border-top: 1px solid black;
        text-align: right;
      }
      &:nth-last-child(4) {
        text-align: center;
      }

      &.overallIncomePLN,
      &.overallTaxPLN {
        background-color: $secondary-color;
        border: 2px solid #000;
        cursor: pointer;
      }
    }
  }
}
