body {
    background-image: url(../images/art-background-blank-1020317.jpg);
    // position: relative;
    // width: 100vw;

    // usunięcie reklam z cba.pl
    &>div:first-child {
        display: none;
    }

    .cbalink {
        display: none;
    }
}

html {
    position: relative;
    min-height: 100vh;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 500px;
    background-color: $primary-color;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, .4);
    margin: 50px auto;
}

input,
select {
    margin-left: 50px;
}

*::selection {
    background-color: $secondary-color;
}