body {
  background-image: url(../images/art-background-blank-1020317.jpg);
  min-height: calc(100vh + 1px);
  position: relative;
  padding: 50px 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  background-color: $primary-color;
  border-radius: 10px;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.4);
  margin: 0 auto;
}

input,
select {
  margin-left: 50px;
  border: 1px solid #000;

  &:active,
  &:focus {
    box-shadow: 0px 0px 20px 5px rgba(250, 204, 0, 1);
    outline: none;
  }
}

#taxValue,
#allIncomeValue,
#valuePLN {
  cursor: pointer;
}

#country-select {
  &:active,
  &:focus {
    box-shadow: none;
  }
}

*::selection {
  background-color: $secondary-color;
}
