@media only screen and (max-width: 980px) {
  body {
    padding: 0 0 50px;
  }

  footer {
    font-size: 16px;
  }
}

@media print {
  .no-print {
    display: none !important;
  }

  body {
    background-image: unset;
  }
}
